<div class="main-col col-sm-12 col-md-12">
	<div class="row sub-row">
		
		<div class="sub-col col-sm-12 col-md-12 banner"> 
			<hr>
			<div class="container"> 
				<div class="row">
					<div class="col-sm-10" style="margin:0px auto;float: none ">
						<div class="col-sm-4" style="text-align:left" ><img src="image/catalog/website/freeshiping.png" /></div>
						<div class="col-sm-4" style="text-align:center" ><img src="image/catalog/website/customerservice.png" /></div>
						<div class="col-sm-4" style="text-align:right" ><img src="image/catalog/website/nocharge.png" /></div> 
					</div> 
				</div>  
			</div> 
		</div>			  
		<div class="sub-col col-sm-12 col-md-12 newsletter"> 
			<div class="container">  
				<div class="row"> 
					<div class="col-sm-8 newsletterbottom" id="nlsuccess">
						Sign up for our newsletter to receive updates, new arrivals & offers.
					</div> 
					<div class="col-sm-4" >
						<form name="subscribe" id="subscribe">
                            <input type="text" value="" name="newsletter" id="newsletter" placeholder="Enter you email address here...">
							
                            <a class="btn" onclick="newsletter.news();"><span>Subscribe</span><i class="fa-envelope-o fa"></i></a>
							<p id="errors" style="color:red;"></p>
						</form>
					</div>
				</div></div>
		</div>			   
	</div>
</div>			  
</div>
</div>
</div>
<footer>
	<div class="container">
		<div class="top-footer"> </div>
		<div class="middle-footer">
			<div class="row">
				<div class="col-sm-3">
					<div id="cmsblock-21"  class="cmsblock">
						<div class='description'>
							<div class="about-static-f"> <img src="image/catalog/logo.png" alt="logo footer">
								<p>Health is wealth’, haven’t you heard this all your life but never bothered to wonder how true it is!</p> 
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<h5 class="title-footer">Quick Links</h5>
					<ul class="list-unstyled">
						<li><a href="index.php?route=product/category&path=20">Kitchen Essentials</a></li>
						<li><a href="index.php?route=product/category&path=25">Health & Welleness</a></li>
						<li><a href="index.php?route=product/category&path=18">Beauty & Skincare</a></li>
						<li><a href="index.php?route=product/category&path=61">Home Care & Decor</a></li>
						<li><a href="index.php?route=product/category&path=34">Combos & Hampers</a></li>
						<li><a href="index.php?route=product/special">Special Offers</a></li> 
						<li><a href="index.php?route=product/manufacturer">Our Brands</a></li>  
					</ul>
				</div>
				<div class="col-sm-3">
					<h5 class="title-footer">Information</h5>
					<ul class="list-unstyled">
						<li><a href="/about_us">About Us</a></li>
						<li><a href="index.php?route=information/contact">Contact Us</a></li>
						<li><a href="/privacy">Privacy Policy</a></li>
						<li><a href="/returns">Returns, Refund & Exchange</a></li>
						<li><a href="/shipping_delivery">Shipping & Delivery</a></li>
						<li><a href="/terms_conditions">Terms &amp; Conditions</a></li>
						<li><a href="/why_organic">Why Organic</a></li>
						
						
						<!--
							<li><a href="index.php?route=information/information&amp;information_id=4">About Us</a></li>
							<li><a href="index.php?route=information/contact">Contact Us</a></li>
							<li><a href="index.php?route=information/information&information_id=3">Privacy Policy</a></li>
							<li><a href="index.php?route=information/information&information_id=7">Returns, Refund & Exchange</a></li>
							<li><a href="index.php?route=information/information&information_id=6">Shipping & Delivery</a></li>
							<li><a href="index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
							<li><a href="index.php?route=information/information&amp;information_id=8">Why Organic</a></li>
							
						-->
					</ul>
					
				</div> 
				
				<div class="col-sm-3"> <h5 class="title-footer">Contact info</h5>
					<ul>
						<li>
							<p style="margin:0px;"><i class="pe-7s-map-marker"></i>I-15, UPSIDC Industrial &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Area,Chinhat,<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lucknow UP – 226019</p>
						</li>
						<li><i class="pe-7s-mail"></i> info@weguarantee.in</li>
						<li><i class="pe-7s-call"></i> +91 9453021781</li>
					</ul> 
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div class="container">
    <div class="bottom-footer">
		<div class="row">
			<div class="col-sm-7 col-xs-12">
				<p class="copyright-text">Copyright &copy; 2018 <a href="http://www.weguarantee.in">Weguarantee.in</a>. All Right Reserved.</p>
			</div>
			<div class="col-sm-5 col-xs-12">
				<div id="cmsblock-22"  class="cmsblock">
					<div class='description'>
						<img src="catalog/view/theme/default/image/payments-accepted.png" style="float:right; width:180px; padding-left:10px;"  />
						<div class="social-footer" >
							<ul class="list-unstyled">
								<li><a href="https://www.facebook.com/Weguaranteein-511476465660645/" target="_blank"><img src="catalog/view/theme/default/image/facebook_circle.png" style="width:30px;"  /></a></li>
								<li><a href="https://www.instagram.com/weguarantee.in" target="_blank"><img src="catalog/view/theme/default/image/instagram_circle.png" style="width:30px;" /></a></li>
								<li><a href="https://in.pinterest.com/wegurantee/" target="_blank"><img src="catalog/view/theme/default/image/pinterest_circle.png" style="width:30px;"  /></a></li>
								<li><a href="https://twitter.com/weguaranteein" target="_blank"><img src="catalog/view/theme/default/image/twitter_icon.png" style="width:30px;"  /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div id="back-top"><i class="ion-chevron-up"></i></div>
</footer>



<!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+919453033424", // WhatsApp number
            company_logo_url: "//uat.weguarantee.in/admin/view/image/logos.png", // URL of company logo (png, jpg, gif)
            greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.", // Text of greeting message
            call_to_action: "Message us", // Call to action
            position: "right", // Position may be 'right' or 'left'
		};
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
	})();
</script>


<!-- /WhatsHelp.io widget -->


<script type="text/javascript">
	$(document).ready(function(){
		// hide #back-top first
		$("#back-top").hide();
		// fade in #back-top
		$(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() > ($('header').height()+$('header').offset().top)) {
					$('#back-top').fadeIn();
					} else {
					$('#back-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-top').click(function () {
				$('body,html').animate({scrollTop: 0}, 800);
				return false;
			});
		});
	});
</script>

</div>
<!-- wrapper -->
{% for script in scripts %} 
<script src="{{ script }}" type="text/javascript"></script> 
{% endfor %}

<!-- ClickDesk Live Chat Service for websites -->
<!-- ClickDesk Live Chat Service for websites -->
<script type='text/javascript'>
	var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyEgsSBXVzZXJzGICA4LitirkLDA');
	var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' : 
	'http://my.clickdesk.com/clickdesk-ui/browser/');
	var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
	var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; 
	glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
	var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);

</script>
<!-- End of ClickDesk -->


<!--Start of Tawk.to Script-->
<script type="text/javascript">
/*---- var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b5eb91edf040c3e9e0c1377/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();------*/
</script>
<!--End of Tawk.to Script-->

<style type="text/css">
	
	.clickdesk-agile .cd-bubble {
    position: fixed;
    border-radius: 50%;
    width: 51px !important;
    height: 51px !important;
    padding: 1px !important;
    right: 20px !important;
    cursor: pointer;
    bottom: 78px !important;
    background: #00A1ED;
	}
	
	#cd_prechat_button{
	background: url(https://doxhze3l6s7v9.cloudfront.net/img/livechat/images/login-arrow-over.svg) no-repeat 0 0 !important;
	 padding: 0px !important;
	
	}
	
	#clickdesk_popup{
	margin-bottom: 57px !important;
	
	}


#tawkchat-status-icon {
    margin-top: 48px !important;
}

</style>
<!-- End of ClickDesk -->
</body></html>