{{ header }}
<div class="main-col col-sm-12 col-md-12">
	<div class="row sub-row">
		{{ content_top }} 
		
		
		{{ content_bottom }}
		
		<div class="sub-col col-sm-12 col-md-12">
			<div class="container"> 
                <div class="module-title">
					<h2> Featured Brands </h2>
					<div class="module-description">&#34; There is no diet that will do what eating healthy does. Skip the Diet. Just Eat Healthy.&#34;</div>
				</div>
				<div class="row"><div class="col-sm-11" style="margin:0px auto;float: none ">
					<div class="col-sm-3"><a href="./Organic-India" ><img src="image/catalog/feature/f1.png" /></a></div>
					<div class="col-sm-3"><a href="./SOS-Organics" ><img src="image/catalog/feature/f2.png" /></a></div>
					<div class="col-sm-3"><a href=".//Dr-Patkars" ><img src="image/catalog/feature/f3.png" /></a></div>
				<div class="col-sm-3"><a href="./weguarantee" ><img src="image/catalog/feature/f4.png" /></a></div> 		  </div> 
				</div> 
			</div> 
		</div>
		
		<div class="sub-col col-sm-12 col-md-12 homecategories"> 
			<div class="container"> 
                <div class="module-title">
					<h2> Top Categories </h2>
					<div class="module-description"> &#34; Take care of your body. It's the only place you have to live in.&#34;</div>
				</div>
				<div class="row">
					<div class="col-sm-11" style="margin:0px auto;float: none ">
						<div class="col-sm-3"><a href="./kitchen_essentials/organic"><img src="image/catalog/categories/cat1.png" /></a></div>
						<div class="col-sm-3"><a href="./health_wellness/health_vinegars"><img src="image/catalog/categories/cat2.png" /></a></div>
						<div class="col-sm-3"><a href="./organic/Chocolate"><img src="image/catalog/categories/cat3.png" /></a></div>
						<div class="col-sm-3"><a href="./organic/Tea" ><img src="image/catalog/categories/cat4.png" /></a></div> 
					</div> 
				</div>  
			</div> 
		</div>
		
		<div class="sub-col col-sm-12 col-md-12 banner"> 
			<div class="container">  
				<div class="row">
					<div class="col-sm-11" style="margin:0px auto;float: none ">
						<div class="col-sm-4"><img src="image/catalog/banner/ban1.png" /></div>
						<div class="col-sm-4"><img src="image/catalog/banner/ban2.png" /></div>
						<div class="col-sm-4"><img src="image/catalog/banner/ban3.png" /></div> 
					</div> 
				</div>  
			</div> 
		</div>
		
		
		<div class="sub-col col-sm-12 col-md-12 testnomials"> 
			<div class="container">  
				<div class="row">
					<div class="col-sm-10" style="margin:0px auto;float: none;  padding-top:70px; "> 
						
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> <!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<div class="row">
										<div class="col-xs-12">
											<div class="thumbnail adjust1"> 
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="caption">
														<p class="text-info lead adjust2">Dr. Patkar's Apple Cider Vinegar is a magic portion in a bottle. After years my Mother-in-law is able to walk upright and play with her grandchildren. So i am thankful to Weguarantee to introduce me to it! </p> 
														<blockquote class="adjust2">
														<p>Jyoti Kumari - (Professional Trained Chef)</p> </blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="row">
										<div class="col-xs-12">
											<div class="thumbnail adjust1"> 
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="caption">
														<p class="text-info lead adjust2">I am a 70 year old woman suffering from severe joint pain because of excessive weight. Thanks to Organic India Tulsi Green Tea, i was able to reduce a lot of weight therefore my general quality of life is improved. With Weguarantee's online organic store speedy and dependable service i know i will never be let down.</p> 
														<blockquote class="adjust2">
														<p>Savitri Singh</p> </blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="row">
										<div class="col-xs-12">
											<div class="thumbnail adjust1"> 
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="caption">
														<p class="text-info lead adjust2">Weguarantee's service needs due appreciation. I got my parcel well packed and right on time. Plus the people who took my order were friendly and efficient. Now I know where to get my specialized grocery from. Thanks Weguarantee.</p> 
														<blockquote class="adjust2">
														<p>Dr. Tara Mahadevan - (Health &amp; Nutrition Specialist)</p>  </blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="row">
										<div class="col-xs-12">
											<div class="thumbnail adjust1"> 
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="caption">
														<p class="text-info lead adjust2">Being a conventional Physiotherapist its unbelievable to see the change Apple Cider Vinegar has brought about in my patients. They thank me for introducing them to it, which has made them physically fitter and mentally secure. Thank you Dr. Patkar for making this revolutionary product.</p> 
														<blockquote class="adjust2">
														<p>Dr. Sbubbanshu Srivastava - (Consultant Physio &amp; Rehabilitation)</p>  </blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							<!-- Controls --> 
						</div> 
					</div> 
				</div>  
			</div> 
		</div> 
		
	</div>
</div>
{{ footer }}